.pagination-list {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.5rem;
}

.page-number,
.pagination-arrow {
  border: none;
  border: 1px solid hsl(213.33deg 16.36% 89.22%);
  color: var(--clr-primary-900);
  background: transparent;
  width: 35px;
  height: 35px;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.disabled {
  background-color: hsl(212.31deg 13.4% 80.98%);
  color: var(--clr-neutral-50);
  border: none;
  cursor: not-allowed;
}

.page-number {
  font-size: 1rem;
  font-family: "Sora", sans-serif;
  border: 1px solid var(--clr-primary-400);
  color: var(--clr-primary-400);
  font-weight: var(--fw-semiBold);
}
