*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
  /* object-fit: contain; */
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/* background */

.bg-content {
  background-image: url("/images/background.png");
  height: 365px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-content .text-content {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-content .text-content h1 {
  text-align: center;
}

@media (max-width: 768px) {
  .bg-content .text-content {
    align-items: start;
  }
}

.bg-content .links {
  font-family: Sora, sans-serif;
  font-size: 1rem;
  color: var(--clr-primary-900);
  display: flex;
  gap: 3px;
}

.bg-content .links li:last-child {
  position: relative;
  padding-inline-start: 1.5rem;
  color: #fe553e;
}

.bg-content .links li:last-child:after {
  content: "";
  position: absolute;
  left: 9px;
  top: 6px;
  height: 15px;
  width: 1px;
  background: #fe553e;
  transform: rotate(20deg);
}
